@media screen and (min-width: 400px) {
  .nav-container {
    flex-direction: column;
  }
  .banner-container {
    flex-direction: column;
  }
  .banner-description {
    width: 100px;
  }
  .banner-description img {
    width: 150px;
    height: 200px;
  }
}
